body{
    background-color: powderblue;
}
h2{
    color: orangered;
}
p{
    color: white;
    font-size: large;
    font-weight: bold;
}
.center{
    display: flex;
}
.img-me img{
    border-radius: 200px;
}
.img-me{
    width: 200px;
    padding-right: 50px;
    border-left:1px solid gray ;
    padding-left: 30px;
}
.text{
    text-align: center;
    width: 40%;
}